{% extends 'hospital.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nearby Hospitals</title>
</head>
<body>
    <h1>Nearby Hospitals</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% else %}
        <ul>
            {% for h in hospitals %}
                <li>
                    <strong>{{ h.H_name }}</strong><br>
<!--                    Address: {{ h.address }}<br>-->
<!--                    Phone: {{ h.phone }}-->
                </li>
            {% empty %}
                <p>No hospitals found nearby </p>
            {% endfor %}
        </ul>
    {% endif %}
</body>
{% endblock %}
